.navbar{
    justify-content: center;
}
#search-result-table{
    background-color: rgba(183, 0, 255, 0.233);
}
#search-text{
    margin: 5px 0px 8px 0px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#search-input{
    width: 55%;
    height: 40px;
    margin-bottom: 4px;
}
#search-btn{
    width: 35%;
    margin-bottom: 4px;
}
.city-btn{
    display: block;
    margin: 2px;
    background-color: rgba(12, 12, 10, 0.842);
    color: azure;
}
#city-section{
    background-color: rgba(13, 91, 236, 0.548);
}
#search-cityData{
    border: 1px solid rgb(241, 236, 236); 
    padding: 5px;
    margin-top: 5px;
}
.city{
    display: inline;
}
.current-day{
    display: inline;  
}
.temp, .humidity, .wind,.uv-index{
    margin: 10px;
    font-style: italic;
    font-weight: bold;

}
.green {
    background-color: green;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.forecast-day {
    background-color: rgb(13, 91, 236);
    color: whitesmoke;
    margin: 3px;
    padding: 5px;
    width: 100%;
    max-width: 18%;
}
.forecast-banner{
    padding: 0; 
}
#day-forecast{
    margin-top: 5px;
    padding: 0;
}

@media screen and (max-width: 980px) {
/* .forecast-day {
    background-color: rgb(13, 91, 236);
    color: whitesmoke;
    margin: 3px;
    padding: 2px;
    }  
} */

@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 640px) {
#search-text{
    text-align: center;
    } 
#search-input{
    margin-left: 120px;
    width: 40%;
    height: 40px;
    margin-bottom: 4px;
    }
#search-btn{
    margin-right: 80px;
    width: 20%;
    margin-bottom: 4px;
    }
}
  